POSTGRES_USER=carebridge_user
POSTGRES_PASSWORD=carebridge_pass
POSTGRES_DB=carebridge_db
POSTGRES_PORT=5432

PGADMIN_DEFAULT_EMAIL=you@example.com
PGADMIN_DEFAULT_PASSWORD=admin123

DATABASE_URL=postgresql://carebridge_user:carebridge_pass@localhost:5432/carebridge_db

SECRET_KEY=change_me_to_a_long_random_string
ACCESS_TOKEN_EXPIRE_MINUTES=60