POSTGRES_USER=carebridge_user
POSTGRES_PASSWORD=carebridge_pass
POSTGRES_DB=carebridge_db
POSTGRES_PORT=5432

PGADMIN_DEFAULT_EMAIL=you@example.com
PGADMIN_DEFAULT_PASSWORD=admin123

DATABASE_URL=postgresql+psycopg://carebridge_user:carebridge_pass@localhost:5432/carebridge_db

GEMINI_API_KEY=your_gemini_api_key_here
GOOGLE_GENAI_USE_VERTEXAI=FALSE
